<div class="container">
  <h1>{{title}}</h1>

  <div class="nav">
    <ul>
      <li>
        <a href="{{routes.INDEX}}">Main</a>
      </li>
    </ul>
  </div>

  <ul>
    {{#each tasks}}
      <li class="task">
        <h2>Task</h2>
        <p>Name: {{name}}</p>
        <p>Cost (dollars): {{cost}}</p>

        <h2>Location</h2>
        <p>
          <p>Name: {{location.name}}</p>
          <p>Lat: {{location.lat}}</p>
          <p>Lng: {{location.lng}}</p>
          <p>Radius (meters): {{location.radius}}</p>
        </p>

        <h2>Task Actions</h2>
        <p>
          {{#each taskactions}}
            <p>Description: {{description}} (Type: {{type}})</p>
            {{#each taskactionresponses}}
              <p> - Response: {{response}} (User: {{userId}})</p>
            {{/each}}
          {{/each}}
        </p>

        <br>
        <p>{{createdAt}}</p>
        <br>

        <div class="nav">
          <ul>
            <li>
              <a href="{{../routes.DB.TASK_DELETE}}/{{id}}">Delete</a>
            </li>
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
