<div class="container">
  <h1>{{title}}</h1>

  {{> nav}}

  <ul>
    {{#each tasks}}
      <li class="task">
        <h2>Task</h2>
        <p>Name: {{name}}</p>
        <p>Cost: {{cost}}</p>
        <br>

        <h2>Location</h2>
        <p>
          <p>Name: {{location.name}}</p>
          <p>Lat: {{location.lat}}</p>
          <p>Lng: {{location.lng}}</p>
          <p>Radius: {{location.radius}}</p>
        </p>
        <br>

        <h2>Task Actions</h2>
        <p>
          {{#each taskactions}}
            <p>Description: {{description}} (Type: {{type}})</p>
            {{#each taskactionresponses}}
              <p> - Response: {{response}} (User: {{userId}})</p>
            {{/each}}
          {{/each}}
        </p>
        <br>

        <p>{{formatDate createdAt day="numeric" month="long" year="numeric"}}</p>
        <br>

        <div class="nav">
          <ul>
            <li>
              <a href="{{../routes.DB.TASK_DELETE}}/{{id}}">Delete</a>
            </li>
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
</div>